.rightNavbar {
  max-width: 200px;
  color: white;
  background: grey;
  width: 30%;
  display: flex;
  justify-content: center;

  &__menu {
    padding: 15px 15px;
  }

  &__items {
    list-style: none;
    margin-bottom: 40px;
  }
  &__navLinks.active {
    color: gold;
  }
  .navLinks {
     color: blueviolet;
  }
}